<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Teen Summit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64C1D5981CC284D6003F0AA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64C1D5AF1CC284D6003F0AA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64C1D5BA1CC284D6003F0AA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
